*{color: #808693;}

.all{
    position: fixed; /* or absolute */
    top: 53%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    width: 60vw;
}

.steps{
    display: flex;  
    justify-content: center;

}

.steps p{
    margin: 0 0px;
    padding: 10px 15px;
    font-size: 110%;
}

.number1{
    background-color: #15b8a7;
    border-radius: 100%;
    color: white;
    box-shadow: 2px 2px 10px grey;
}

.cabin{
    color: #15b8a7;
}

.number2{
    background-color: #4e47e5;
    border-radius: 100%;
    color: white;
    box-shadow: 2px 2px 10px grey;
}

.meals{color: #4e47e5;}

.line2{color: #b8bfc7}

.number{
    background-color: white;
    border-radius: 100%;
    color: #5146e5;
    box-shadow: 2px 2px 10px grey;
    font-weight: bolder;
}

.line1:after{
    content:" ";
    width: 50px;
    display: block;
    height: 3px;
    background-color: #15b8a7;
    position: relative;
    top: 50%;
}

.description{
    margin-left: 20px;
    margin-top: 20px;
}

.description h2{color: #364150;}


.description p{
    margin: 5px 0;
    font-size: 120%;
}

.options{
    display: flex;
    flex-direction: column;
    height: 150%;
}

.line{
    display: flex;
}

.option1{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 160%;
}

.option1 label{
    font-size: 120%;
    margin-bottom: 10px;
}

.option1 select{
    padding: 10px 5px;
    font-size: 120%;
    box-shadow: 2px 2px 10px grey;
    color: #49505f;
   
}

.option2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 60%;
}

.option2 label{
    font-size: 120%;
    margin-bottom: 10px;
}

.option2 select{
    padding: 10px 5px;
    font-size: 120%;
    box-shadow: 2px 2px 10px grey;   
    font-size: 120%;
    color: #49505f;
}

.dessert{
    margin-left: 15px;
    
}

.backcontinue{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.backcontinue input{
        padding: 10px 5px;
        font-size: 120%;  
        box-shadow: 2px 2px 10px grey;
        border-radius: 10%;
}

.continue{
    background-color: #4e47e5;
    color: white;
}